<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.sbbmybatis.user.UserMapper">
	<insert id="addUser" parameterType="com.mysite.sbbmybatis.user.User">
		INSERT INTO users (usrname, psw) VALUES (#{usrname}, #{psw})
	</insert>
	<select id="getUserByUsrname" resultType="com.mysite.sbbmybatis.user.User">
		SELECT id, usrname, psw, created_at, updated_at FROM users WHERE usrname = #{usrname}
	</select>
</mapper>